/* ../dist/base.css */
.carousel-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.carousel-container {
  --items-per-view: 3;
  position: relative;
  overflow-x: hidden;
  overflow-y: clip;
  width: 100%;
  height: 100%;
  flex: 1;
}
.carousel-item {
  --distance-to-active: 0;
  --item-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  --width: calc(100% / var(--items-per-view));
  --height: calc(100% / var(--items-per-view));
  width: var(--width);
  height: var(--height);
}

/* ../dist/css/throw.css */
.carousel-container {
  flex: 1;
  --spin: 360deg;
  --scale: .85;
  --translateX: 100%;
  --translateY: 0%;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition-property: transform;
  transition-duration: 500ms;
  transition-delay: 100ms;
  transition-timing-function: ease-in-out;
  --sp: calc( var(--spin) * var(--distance-to-active) * var(--distance-to-active) / abs(var(--distance-to-active)) );
  --sc: calc(pow(var(--scale), abs(var(--distance-to-active))));
  --tX: calc(var(--translateX) * var(--distance-to-active));
  --tY: calc(var(--translateY) * var(--distance-to-active));
  z-index: calc(var(--items-per-view) * 2 - abs(var(--distance-to-active)));
  transform: translateX(var(--tX)) translateY(var(--tY)) rotateZ(var(--sp)) scale(var(--sc));
}
.carousel-item-hidden {
  display: none;
}
